.div1 { 
  background: relative;
  text-align  : center;
  
}
.App {
  border-radius: 100px;
  align-items: center;
  padding: 80px;
}
.back {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  
}
.appmedium {
  align-items: center;
  color: rgb(136, 218, 218);
}